.responsive-menu {
  position: relative;
}
.main-menu, .sub-menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.main-menu li, .sub-menu li {
  font-size: 1rem;
}

.main-menu > li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.main-menu > li a {
  display: block;
}
.main-menu > li.active .sub-menu {
  opacity: 1;
  pointer-events: auto;
  margin-top: 0;
  z-index: 20;
}

  .main-menu > li:hover .sub-menu {
    opacity: 1;
    pointer-events: auto;
    margin-top: 0;
    z-index: 20;
  }

.main-menu .expand {
  display: none;
}


.sub-menu {
  opacity: 0;
  pointer-events: none;
  margin-top: 20px;
  -webkit-transition: 200ms all;
  transition: 200ms all;
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  min-width: 200px;
}

.sub-menu li a {
  display: block;
}

.toggle-menu {
  display: none;
}

body {
  font-family: sans-serif;
}

header {
  background: #f56c09;
  font-size: 0;
}

nav {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: #f56c09;
  font-size: 1rem;
  box-sizing: border-box;
  width: 85%;
}
 nav {
    text-align: right;
  }

.toggle-menu {
  color: #ffffff;
  padding-right: 1rem;
  float: right;
}
.toggle-menu span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.3rem;
}
.toggle-menu svg {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-size: 2rem;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  width: 15%;
}

.main-menu, .sub-menu {
  background: #f56c09;
}
.main-menu li a, .sub-menu li a {
  padding: 1rem 1rem;
  color: #ffffff;
  text-decoration: none;
}
.main-menu .expand, .sub-menu .expand {
  color: #ffffff;
  font-size: 1.5rem;
}



table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #13a980;
  width: 700px;
  margin:  auto;
  border-radius: .25rem;
}

thead tr:first-child {
  background: #13a980;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #13a980;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 75%;
  max-width: 1000px;
  min-width: 400px;
  padding: 2em;
  background: #13a980;
  border-radius: 0.25em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
}

input,
select,
textarea {
  padding: 0.5em;
  color: #333;
  font-size: 0.875em;
  font-family: inherit;
  background: #f4f4f4;
  border: 1px solid #CCC;
  border-width: 1px 1px 1px 0;
  border-radius: 0;
  appearance: textfield;
  transition: 0.3s;
}

input:focus,
select:focus,
textarea:focus {
  background: #FFF;
  box-shadow: inset 0.1em 0.1em 0.25em rga(0, 0, 0, 0.2);
  outline: 0;
}

.form-field {
  display: flex;
  margin-bottom: 1em;
}
.form-field label {
  flex: 0 1 7em;
  padding: 1em;
  background: #FFF;
  border: 1px solid #CCC;
  color: #2d2d2d;
  font-weight: 400;
  letter-spacing: .09em;
  text-transform: uppercase;
  font-size: 1.25 em;
  text-align: center;
  text-shadow: 0 1px 0 #FFF;
  lint-height: 1;
}
.form-field input,
.form-field select,
.form-field textarea {
  flex: 1;
}
@media screen and (max-width: 720px) {
  .form-field {
    flex-wrap: wrap;
  }
  .form-field label {
    flex: 1;
  }
  .form-field input,
  .form-field select,
  .form-field textarea {
    flex: 1 1 100%;
    padding: 1em;
  }
}

.submit-field {
  flex-direction: row-reverse;
}
.submit-field button {
  flex: 0 1 40%;
  margin-top: 10px;
  padding: 0.7em;
  color: #f2f2f2;
  font-size: 1rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: .09em;
  text-shadow: 0 1px 0 #FFF;
  background: #f56c09;
  border-radius: 0.25em;
  border: 0;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  .submit-field button {
    flex: 0 1 100%;
  }
}






.container {
  display: block;
  max-width: 480px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 40px;
}
.modal {
  background: #FFF;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  overflow: hidden;
}
.modal .form .form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 0 30px;
}
.modal .form .form-row:last-child {
  margin: 0;
}
.modal .form .form-row:last-child .input-group {
  width: 75%;
  margin: 0 15px 0 0;
}
.modal .form .form-row:last-child .input-group:last-child {
  width: 25%;
  margin: 0 0 0 15px;
}
.modal .form .input-group {
  width: 100%;
}
.modal .form label {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  color: #13a980;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.modal .form input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0;
  border: 0;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 15px;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal .header {
  background: #13a980;
  padding: 30px;
  text-align: center;
}
.modal .header h1 {
  margin: 0 0 15px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.modal .header .card-type {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.modal .header .card-type .card {
  position: relative;
  width: 25%;
  min-width: 54px;
  text-align: center;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.modal .header .card-type .card.active {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
.modal .header .card-type .card.active:after {
  display: block;
  bottom: -30px;
}
.modal .header .card-type .card:after {
  content: '';
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin: 0 0 0 -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.modal .header .card-type .card img {
  display: inline-block;
}
.modal .header .card-type li {
  display: inline-block;
  margin: 0 10px;
}
.modal .content {
  padding: 30px;
}
.modal .footer .button {
  outline: none;
  display: block;
  background: #f56c09;
  width: 100%;
  border: 0;
  padding: 20px 30px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #333;
}
.info span {
  color: #666;
  font-size: 12px;
}
.info span a {
  color: #000;
  text-decoration: none;
}
.info span .fa {
  color: #13a980;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@-moz-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@-o-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
[not-existing] {
  zoom: 1;
}
