$responsive-menu-breakpoint: 1220px !default;

@mixin hide-menu {
	opacity: 0;
	pointer-events: none;
	margin-top: 20px;
	transition: 200ms all;

	position: absolute;
	top: 100%;
	left: 0;

	right: auto;

	min-width: 200px;
}

@mixin show-menu {
	opacity: 1;
	pointer-events: auto;
	margin-top: 0;
	
	z-index: 20;
}

.responsive-menu {
	position: relative;
}

.main-menu, .sub-menu {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	
	li {
		font-size: 1rem;
	}
}

.main-menu {
	& > li {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		
		a {
			display: block;
		}
		
		&.active {
			.sub-menu {
				@include show-menu;
			}
		}
		
		&:hover {
			@media only screen and (min-width: $responsive-menu-breakpoint + 1 ) {
				.sub-menu {
					@include show-menu;
				}
			}
		}
	}
	
	.expand {
		display: none;
	}
	
	@media only screen and (max-width: $responsive-menu-breakpoint) {
		@include hide-menu;
		
		width: 80%;
		left: 10%;
		
		li {
			display: block;
		}
		
		.expand {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			
			padding: 0.5rem 1rem;
			
			z-index: 15;
			
			transform-origin: 50%;
			transition: 200ms all;
			
			&.active {
				transform: rotate(45deg);
			}
		}
	}
	
	&.active {
			@media only screen and (max-width: $responsive-menu-breakpoint) {
			@include show-menu;			
		}
	}
}

.sub-menu {
	@include hide-menu;
	
	@media only screen and (max-width: $responsive-menu-breakpoint) {
		display: block;
		z-index: 20;
		width: 100%;
	}
	
	li {
		a {
			display: block;
		}
	}
}

// Responsive
.toggle-menu {
	display: none;
	
	@media only screen and (max-width: $responsive-menu-breakpoint) {
		display: inline-block;
	}
}

// Styling (not requred)
body {
	font-family: sans-serif;
}

header {
	background: #333333;
	font-size: 0;
}

nav {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background: #333333;
	
	font-size: 1rem;
	
	box-sizing: border-box;
	width: 85%;
	
	@media only screen and (min-width: $responsive-menu-breakpoint + 1 ) {
		text-align: right;
	}
}

.toggle-menu {
	color: #ffffff;
	padding-right: 1rem;
	float: right;
	
	span {
		display: inline-block;
		vertical-align: middle;
		padding-left: 0.3rem;
	}
	
	svg {
		display: inline-block;
		vertical-align: middle;
	}
}

.logo {
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	font-size: 2rem;
	padding: 0.8rem 1rem;
	
	box-sizing: border-box;
	width: 15%;
}

.main-menu, .sub-menu {
	background: #333333;
	
	li {
		a {
			padding: 1rem 1rem;
			color: #ffffff;
			text-decoration: none;
		}
	}
	
	.expand {
		color: #ffffff;
		font-size: 1.5rem;
	}
}

.sub-menu {
	@media only screen and (max-width: $responsive-menu-breakpoint) {
		background: #777777;
	}
}